/* 추천페이지 폼 영역 */
.formBox {
    width: 45rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem auto;
    border: 1px solid #081F5C;
    border-radius: 0.5rem;
    box-shadow: 0px 16px 48px rgb(0, 0, 0, 0.1);
}
