.pageContainer {
    padding-left: 3rem;
    width: 80%;
    margin: 0 auto;
}

.formHeader {
    display: flex;
}

.title {
    width: 40rem !important;
    height: 3rem !important;
}

.formHeader select {
    margin-left: auto;
    margin-right: 0;
}

.attachFile {
    margin-top: 4rem;
    margin-left: 0.5rem;
}

.fileInputBtn {
    display: none;
}

.attachButton {
    display: inline-block;
    text-align: center;
    align-content: center;
}

.imgContainer {
    margin-top: 0.01rem;
    width: 100%;
    height: 100%;
    border: solid 2px #d9d9d9;
    border-radius: 8px;
    overflow: hidden;
}

.table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-spacing: 0 0.5rem;
    border-collapse: separate;
}

.table td {
    width: 25%;
    height: 17rem;
    position: relative;
    overflow: hidden;
}

.table img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    display: block;
}

.boardContent {
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 0.5rem;
    width: 99.3%;
    height: 20rem;
    border: solid 2px #d9d9d9;
    border-radius: 8px;
    overflow: hidden;
}

.boardContent:focus {
    outline: none;
    border: solid 2px #334eac;
}

.boardContent:read-only {
    background-color: #d9d9d9;
}

.btnContainer {
    display: flex;
    margin-top: 1rem;
    justify-content: end;
    gap: 1rem;
}

