.pageContainer {
    padding-left: 3rem;
    width: 90%;
}

.formHeader {
    display: flex;
}

.formHeader select {
    margin-left: auto;
    margin-right: 0;
}

.attachFile {
    margin-top: 4rem;
    margin-left: 0.5rem;
}

.fileInputBtn {
    display: none;
}

.imgContainer {
    margin-top: 0.01rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border: 1px solid #334eac;
}

.table td {
    width: 25%;
    height: 17rem;
    position: relative;
    overflow: hidden;
}

.table img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    display: block;
}

.boardContent {
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 0.5rem;
    width: 99.3%;
    height: 20rem;
    resize: none;
    border: 1px solid #334eac;
}
