/* 일반 라디오 스타일 */
.commonContainer {
    display: inline-flex;
    flex-direction: row-reverse;
    margin: 1rem;
}

.commonInput {
    accent-color: #334eac;
}

.commonLabel {
    margin-left: 0.4rem;
}

/* 추천 페이지 용 라디오 스타일 */
.longContainer {
    display: flex;
    align-items: center;
    width: 22rem;
    height: 2.5rem;
    border: solid 2px #d9d9d9;
    border-radius: 8px;
    margin: 1rem;
    cursor: pointer;
}

.longContainer:has(input:checked) {
    border: solid 2px #334eac;
}

.longLabel {
    font-size: 1rem;
    line-height: 2.3;
    margin-left: 0.6rem;
}

.longInput {
    margin-left: auto;
    width: 1rem;
    height: 1rem;
    accent-color: #334eac;
    margin-right: 0.6rem;
}

.input:focus {
    outline: none;
    border: solid 2px #334eac;
}
