button {
    border: solid 2px #334eac;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #d0e3ff;
    color: #334eac;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #334eac;
    color: white;
}

button:disabled {
    border: solid 2px #787878;
    background-color: #d9d9d9;
    color: #787878;
}

.short {
    width: 5rem;
    height: 2.3rem;
    font-size: 1rem;
}

.medium {
    width: 7rem;
    height: 3rem;
    font-size: 1.5rem;
}

.bold {
    width: 15rem;
    height: 3rem;
    font-size: 1.3rem;
}

.long {
    width: 18rem;
    height: 2.3rem;
    font-size: 1rem;
}

.delete {
    border: solid 2px #ff4d4d;
    background-color: #ffffff;
    color: #ff4d4d;
    width: 5rem;
    height: 2.3rem;
}

.delete:hover {
    background-color: #ff4d4d;
    color: white;
}

.small {
    border-radius: 0.15rem;
    width: 5rem;
    height: 2.3rem;
}

.logInOut {
    width: 15rem;
    height: 2.5rem;
    background-color: #d0e3ff;
    color: #081f5c;
    font-weight: bold;
    font-size: 1.1rem;
    border-style: none;
    border-radius: 0.3rem;
}
