.recommendForm {
    width: 50rem;
    height: 8rem;
    border: solid 2px #d9d9d9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #d9d9d9;
    margin: 1rem auto;
    padding: 0.5rem;
}

.repeatsDay span:first-child {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    color: #081F5C;
    margin: 0.6rem;
}

.repeatsDay span:last-child {
    display: inline-block;
    font-weight: bold;
    font-size: 0.9rem;
    color: #334EAC;
}

.formLeft {
    float: left;
    width: 90%;
}

.formRight {
    float: right;
    display: block;
    width: 10%;
    text-align: center;
}

.plusButton {
    width: 2.5rem;
    height: 2.5rem;
    color: #081F5C;
    border: 2px solid #081F5C;
    border-radius: 50%;
    font-size: 2rem;
    background-color: white;
    margin: 0.5rem 1rem;
}