.introduceHeader {
    display: flex;
}

.editBtn {
    margin-left: auto;
    margin-right: 0.6rem;
    width: 2rem;
    height: 1.5rem;
    font-size: 1.2rem;
    border: 1px solid #334eac;
}

.introduceText {
    white-space: pre-line;
    width: 90%;
    height: 7rem;
    margin: auto;
    margin-top: 0.3rem;
    text-align: center;
}