.oneReply {
    width: 100%;
    margin: auto;
}

.replyHeader {
    display: flex;
    position: relative;
}
.headerdiv {
    width: 86%;
    display: flex;
    justify-content: space-between;
}

.reCommentDiv {
    width: 84.8%;
}

.replyWriter {
    /* width: 3rem; */
    font-weight: 700;
    font-size: 1.1rem;
    margin-left: 4rem;
    cursor: pointer;
}

.edit {
    font-size: 1.3rem;
    /* margin-left: 39rem; */
    cursor: pointer;
}

.trash {
    font-size: 1.3rem;
    margin-left: 1rem;
    cursor: pointer;
}

.replyDate {
    position: absolute;
    right: 0;
}

.replyMain {
    display: flex;
}

.genderImg {
    align-content: center;
}

.replyContent {
    align-content: center;
    width: 85%;
    margin-left: 1rem;
}

.replyFooter {
    display: flex;
    position: relative;
    margin-top: 0.4rem;
    justify-content: end;
}

.replyBtn {
    margin-right: auto;
    margin-left: 4rem;
    font-weight: 800;
    cursor: pointer;
}

.likeBtn {
}

.horizon {
    width: 98%;
    margin-left: 1rem;
}

.reComment {
    display: none;
}

.arrow {
    font-size: 6.8rem;
}

.reCommentContainer {
    width: 93%;
    margin: 0 0 0 7%;
}

.editContainer {
    position: relative;
}

