.td {
    padding: 1rem;
    vertical-align: top;
}

.table {
    margin: 0 auto;
    margin-top: 3rem;
}

.ul {
    margin: 0 auto;
    width: 25%;
    display: flex;
}

.ul li {
    margin: 0 auto;
}

.nav {
    margin-top: 2rem;
}
