.inputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 0;
}

.inputArea input {
    border: solid 2px #d9d9d9;
    border-radius: 8px;
    padding-left: 2%;
    cursor: pointer;
    margin : 0.5rem 0.3rem 0 0.7rem;
    text-align: left;
}
.inputArea label {
    color : #081F5C;
    margin: 0.3rem 1rem;
    font-weight: 500;
}

input::-webkit-inner-spin-button {
  -webkit-appearance:none;
}


input:focus {
    outline: none;
    border: solid 2px #334EAC;
}

.short {
    width: 5rem;
    height: 2.3rem;
    padding-left: 0%;
    text-align: center;
}

.medium {
    width: 8em;
    height: 2.3em;
    padding-left:0%;
    text-align: center;
}

.long {
    width: 25rem;
    height: 2.3rem;
    font-size: 1rem;
}

.title {
    width: 46rem;
    height: 5rem;
    font-size: 2rem;
}

input:read-only {
    background-color: #d9d9d9;
}
.error {
    color: #CC0000;
    margin: 0.3rem 1rem;
    margin-bottom: 0.5rem;
    font-size: small;
    font-weight: 600;
}