.inputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
}
.inputArea > label {
    margin-left: 1rem;
}
.input {
    border: solid 2px #d9d9d9;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin: 0 0.7rem;
}
.input:focus {
    outline: none;
    border: solid 2px #334EAC;
}

.short {
    /* width: 11.6rem;
    height: 4.2rem; */
    /* font-size: 1.4rem;
    padding: 0 0.3rem;
    width: 7rem;
    height: 3rem; */
    width: 8em;
    height: 2.3em;
}

.medium {
    width: 5rem;
    height: 2.3rem;
}

.long {
    width: 25rem;
    height: 2.3rem;
}

.title {
    width: 50rem;
    height: 150px;
    font-size: 2rem;
}


.content {
    width: 64.7rem;
    height: 400px;
}

input:read-only {
    background-color: #d9d9d9;
}

.reply {
    width: 830px;
    height: 50px;
    padding-left: 2rem;
}

.secondReply {
    width: 760px;
    height: 50px;
    padding-left: 1.5rem;
}