.border {
    border: solid 2px #000000;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 1rem 0 #d9d9d9;
    box-shadow: 0 0 1rem 0 #d9d9d9;
    margin: 5rem 0;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.input {
    /* width: 23rem; */
    display: flex;
}

.inputAreas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 18rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.inputArea {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.bodyInput {
    width: 11.5rem;
    display: flex;
}

.bodyInputs {
    display: flex;
}

.label {
    margin-right: 0.5rem;
    align-content: center;
}

.btn {
    margin-left: 15rem;
}

.leftArea {
    border-radius: 0.3rem;
    box-shadow: 0 0 0.3rem 0 #d9d9d9;
    padding: 1rem 1rem;
    width: 40%;
    min-height: 20rem;
    display: flex;
    justify-content: center;
}

.rightArea {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.p {
    font-size: 1.3rem;
    margin: 1.5rem 3rem;
}

.resultArea {
    display: flex;
    margin-bottom: 2rem;
}

.doughnutArea {
    width: 15rem;
    height: 15rem;
}

.kcalArea {
    align-content: center;
}

.bold {
    font-weight: 600;
}