.blogContainer {
    height: 70rem;
    margin-top: 2rem;
}

.blogHeader {
    display: flex;
}

.ownerCard {
    border: 3px solid #334EAC;
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    margin-left: 10rem;
    overflow: hidden;
    background-color: #E3F2FD;
}

.cardHeader {
    display: flex;
    margin-top: 0.7rem;
}

.maleImage {
    font-size: 3rem;
    margin-left: 1rem;
    color: rgb(75, 75, 255);
}

.femaleImage {
    font-size: 3rem;
    margin-left: 1rem;
    color: rgb(255, 135, 155);
}

.ownerName {
    text-align: center;
    padding-top: 0.6rem;
    font-size: 1.6rem;
    font-weight: 800;
}

.follow {
    padding-top: 0.5rem;
    margin-left: auto;
    margin-right: 1rem;
}

.introduceHeader {
    display: flex;
}

.editBtn {
    margin-left: auto;
    margin-right: 0.6rem;
    width: 2rem;
    height: 1.5rem;
    background-color: #E3F2FD;
    color: #334EAC;
    font-size: 1.2rem;
    border: 1px solid #334EAC;

}

.introduceText {
    width: 90%;
    height: 7rem;
    margin: auto;
    margin-top: 0.3rem;
    text-align: center;
}

.gradeContainer {
    width: 11rem;
    height: 11rem;
    margin-left: auto;
    margin-right: 10rem;
    margin-top: 2rem;
    border: 3px solid #334EAC;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 8rem;
}

.boardsContainer {
    margin-top: 6rem;
    margin-bottom: 10rem;
}