.subTitle {
    color: #334eac;
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem auto;
    margin-left: 5rem;
}

.table {
    width: 40rem;
    height: 30rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.editBtn {
    margin-left: 80%;
    margin-bottom: 10rem;
}

.reSignBtn {
    display: flex;
    width: 5rem;
    margin-left: 5rem;
    color: #334eac;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}