.subTitle {
    color: #334EAC;
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem auto;
    margin-left: 5rem;
}

.table {
    width: 40rem;
    height: 30rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.editBtn {
    margin-left: 80%;
    margin-bottom: 10rem;
}

.reSignBtn {
    display: flex;
    margin-left: 5rem;
    color: #334EAC;
    cursor: pointer;
}