/* select */
.selectArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 0;
}

.label {
    margin: 0.3rem 1rem;
}

.select {
    width: 25rem;
    height: 2.3rem;
    border: solid 2px #d9d9d9;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding-left: 2%;
    margin : 0.5rem 0.3rem 0 0.7rem;
}

.select:focus {
    outline: none;
    border: solid 2px #334EAC;
}