.blogContainer {
    height: 70rem;
    margin-top: 2rem;
}

.blogHeader {
    display: flex;
}

.ownerCard {
    border: 3px solid #334eac;
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    margin-left: 10rem;
    overflow: hidden;
    background-color: #e3f2fd;
}

.cardHeader {
    display: flex;
    margin-top: 0.7rem;
}

.ownerName {
    text-align: center;
    padding-top: 0.6rem;
    font-size: 1.6rem;
    font-weight: 800;
}

.follow {
    padding-top: 0.5rem;
    margin-left: auto;
    margin-right: 1rem;
}



.gradeContainer {
    width: 11rem;
    height: 11rem;
    margin-left: auto;
    margin-right: 10rem;
    margin-top: 2rem;
    border: 3px solid #334eac;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 8rem;
}

.boardsContainer {
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.loadingMsg {
    font-size: 2rem;
    text-align: center;
    margin: 10rem 0;
}