.container {
    width: 50rem;
    height: 8rem;
    border: solid 2px #d9d9d9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #d9d9d9;
    margin: 1rem auto;
    padding: 0.5rem;
    align-items: center;
}

.boxContainer {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

.title span {
    display: inline-block;
    font-weight: bold;
}

.dayNo {
    font-size: 1.1rem;
    color: #081f5c;
    margin: 0.6rem;
}

.carolie {
    font-size: 0.9rem;
    color: #334eac;
}

.formLeft {
    display: flex;
    float : left;
    flex-wrap: wrap;
    width: 90%;
    gap: 1rem;
    padding: 0.5rem;
}

.box {
    margin : 0.5rem;
}

.formRight {
    float: right;
    width: 10%;
    text-align: center;
}

.plusBtn {
    width: 2.5rem;
    height: 2.5rem;
    color: #081f5c;
    border: 2px solid #081f5c;
    border-radius: 50%;
    font-size: 2rem;
    background-color: white;
    margin: 0.5rem 1rem;
}
