.container {
    width: 50rem;
    height: 8rem;
    border: solid 2px #d9d9d9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #d9d9d9;
    margin: 1rem auto;
    padding: 0.5rem;
}

.title span {
    display: inline-block;
    font-weight: bold;
}

.dayNo {
    font-size: 1.1rem;
    color: #081f5c;
    margin: 0.6rem;
}

.carolie {
    font-size: 0.9rem;
    color: #334eac;
    color: #334eac;
}

.formLeft {
    float: left;
    width: 90%;
}

.formRight {
    float: right;
    display: block;
    width: 10%;
    text-align: center;
}

.plusBtn {
    width: 2.5rem;
    height: 2.5rem;
    color: #081f5c;
    border: 2px solid #081f5c;
    color: #081f5c;
    border: 2px solid #081f5c;
    border-radius: 50%;
    font-size: 2rem;
    background-color: white;
    margin: 0.5rem 1rem;
}

.error {
    color: #cc0000;
    margin: 0.3rem 1rem;
    margin-bottom: 0.5rem;
    font-size: small;
    font-weight: 600;
}
