.container {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid rgb(184, 184, 184); */
}

.boardTitle {
    display: flex;
    margin-top: 5rem;
    font-weight: 600;
    font-size: 2.6rem;
    justify-content: space-between;
}


.flex {
    display: flex;
    margin-top: 1rem;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.imageContainer {
    display: flex;
    margin: 0 auto;
}

.image {
    width: 25rem;
    height: 25rem;
}

.imgBtn {
    background-color: white;
    border: none;
    font-size: 5rem;
}

.imgBtn:hover {
    cursor: pointer;
}

.boardContent {
    border: 1px solid rgb(175, 175, 175);
    padding: 1rem;
    width: 55rem;
    height: 20rem;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.5rem;
}

.boardEditContainer {
    display: flex;
}

.editBtns {
}

.deleteBtns {
    margin-left: 1.2%;
    margin-right: 5rem;
}

.heartContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 5.7rem;
}

.replyListContainer {
    border: 1px solid rgb(201, 201, 201);
    width: 55rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 0.5rem 2rem 1rem 0;
}



