.likeContainer {
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: solid 1px #787878;
}

.iconArea {
    display: flex;
}

.icon {
    display: flex;
    width: 7rem;
    height: 5rem;
    justify-content: space-between;
}

.genderIcon {
    align-content: center;
}

.grade {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    margin-top: 1.7rem;
}

.nickName {
    font-size: 1.7rem;
    align-content: center;
}

.cutBtn {
    margin-right: 1rem;
}
