.headerContainer {
    display: flex;
    margin: 1rem auto;
}

.headerContainer a {
    text-decoration: none;
}

.headerContainer p {
    margin-top: 1rem;
}

.headerLeft,
.headerRight {
    margin: auto;
    text-align: center;
}

/* ---------- Header left ---------- */
.logo {
    font-size: 2rem;
    font-weight: 600;
}

.logo > * {
    color: #081f5c;
}

/* ---------- Header right ---------- */

.headerRight {
    display: inline-block;
}

.headerRight a {
    color: black;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.icon {
    color: #d0e3ff;
    margin: 0 0.4rem;
    font-size: 2rem;
}

.icon:hover {
    color: #334eac;
    transition: 0.3s;
}

.notification {
    position: absolute;
    top: 5rem;
    right: 10.5rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.3;
    background-color: #d9d9d9;
    color: #ff0000;
    border-radius: 1rem;
}

/* 
.notification:hover{
    background-color: #D0E3FF;
    transition : 0.3s;
} */

/* ---------- .navigation bar ---------- */
.navigation {
    display: flex;
    width: 50%;
}

.navigation a {
    color: black;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    margin: auto;
}

.menuItem {
    padding: 2rem;
    margin: auto 1.5rem;
    color: #83818c;
    position: relative;
}

.menuItem > a {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 2rem;
}

.menuItem:before {
    content: '';
    height: 3px;
    position: absolute;
    background-color: #334eac;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 8px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menuItem:hover:before {
    transform: scaleX(1);
}

.subMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    padding: 0;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: all 0.5s ease;
}

.subMenu li a {
    line-height: 2rem;
}

.subMenu li a:hover {
    font-weight: bold;
    color: #081f5c;
    transition: 0.2s;
}

.menuItem:hover .subMenu {
    visibility: visible;
    opacity: 1;
    top: 60px;
}
