.nickName {
    display: flex;
}

.textBox.nickName {
    border: solid 1px #334EAC;
    width: 11.5rem;
    height: 5rem;
    background-color: #D0E3FF;
    font-weight: 600;
}

.h4.nickName {
    margin: 1rem;
    color: #334EAC;
}

.inputBox.nickName {
    border: solid 1px #334EAC;
    width: 28.5rem;
    align-items: center;
}

.inputBox.nickName > div {
    margin-bottom: 1rem;
}

/* ------------ */

.password {
    display: flex;
}

.textBox.password {
    border: solid 1px #334EAC;
    width: 11.5rem;
    height: 17rem;
    background-color: #D0E3FF;
    font-weight: 600;
}

.h4.password {
    margin: 1rem;
    color: #334EAC;
}

.inputBox.password {
    border: solid 1px #334EAC;
    width: 28.5rem;
    justify-content: space-around;
    flex-direction: column;
}

/* --------- */
.phone {
    display: flex;
}

.textBox.phone {
    border: solid 1px #334EAC;
    width: 11.5rem;
    height: 5rem;
    background-color: #D0E3FF;
    font-weight: 600;
}

.h4.phone {
    margin: 1rem;
    color: #334EAC;
}

.inputBox.phone {
    border: solid 1px #334EAC;
    width: 28.5rem;
    display: flex;
    align-items: center;
}

.inputBox.phone > div {
    margin-bottom: 1rem;
}

/* ------------ */
.body {
    display: flex;
}

.textBox.body {
    border: solid 1px #334EAC;
    width: 11.5rem;
    height: 13rem;
    background-color: #D0E3FF;
    font-weight: 600;
}

.h4.body {
    margin: 1rem;
    color: #334EAC;
    /* font-weight: 600; */
}

.inputBox.body {
    border: solid 1px #334EAC;
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputBox.body > div {
    margin-bottom: 1rem;
}