.nickName {
    display: flex;
}

.textBox.nickName {
    border: solid 1px #334eac;
    width: 11.5rem;
    height: 5rem;
    background-color: #d0e3ff;
    font-weight: 600;
}

.h4.nickName {
    margin: 1rem;
    color: #334eac;
}

.inputBox.nickName {
    border: solid 1px #334eac;
    width: 28.5rem;
    align-items: center;
}

/* ------------ */

.password {
    display: flex;
}

.textBox.password {
    border: solid 1px #334eac;
    width: 11.5rem;
    height: 17rem;
    background-color: #d0e3ff;
    font-weight: 600;
}

.h4.password {
    margin: 1rem;
    color: #334eac;
}

.inputBox.password {
    border: solid 1px #334eac;
    width: 28.5rem;
    justify-content: space-around;
    flex-direction: column;
}

/* --------- */
.phone {
    display: flex;
}

.textBox.phone {
    border: solid 1px #334eac;
    width: 11.5rem;
    height: 5rem;
    background-color: #d0e3ff;
    font-weight: 600;
}

.h4.phone {
    margin: 1rem;
    color: #334eac;
}

.inputBox.phone {
    border: solid 1px #334eac;
    width: 28.5rem;
    display: flex;
    align-items: center;
}

/* ------------ */
.body {
    display: flex;
}

.textBox.body {
    border: solid 1px #334eac;
    width: 11.5rem;
    height: 13rem;
    background-color: #d0e3ff;
    font-weight: 600;
}

.h4.body {
    margin: 1rem;
    color: #334eac;
    /* font-weight: 600; */
}

.inputBox.body {
    border: solid 1px #334eac;
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
