.subTitle {
    color: #334eac;
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem auto;
    margin-left: 6rem;
    margin-bottom: 1.5rem;
}

.table {
    width: 40rem;
    min-height: 45rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.body {
    display: flex;
}

.p {
    align-content: end;
    margin: 0 0 0.6rem 0.3rem;
    font-weight: 700;
}

.inputArea {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.phoneArea {
    display: flex;
    gap: 1rem;
}

.btnArea {
    display: flex;
    justify-content: end;
    margin-right: 5.3rem;
}

.btn {
    width: 11rem;
    display: flex;
    justify-content: space-between;
}

.container {
    display : flex;
    flex-direction: column;
    gap : 0.5rem;
}