.text {
    border-radius: 0.2rem;
    width: 12rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    font-weight: 500;
    box-shadow: 0 0 1rem 0 #D9D9D9;
    margin-bottom: 1rem;
}
.text:hover {
        border: solid 0.1rem #334EAC;
}