.category {
    border: solid 1px #787878;
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
}

img {
    width: 320px;
    height: 320px;
}

.img {
    width: 320px;
    height: 320px;
}


.text {
    border: solid 1px #787878;
    width: 320px;
    height: 25px;
}

.category.routine {
    width: 400px;
    height: 400px;
}

.category.routine .text {
    width: 400px;
    height: 33px;
    font-size: 1.5rem;
}

.category.routine img {
    width: 400px;
    height: 400px;
}

.category.routine .img {
    width: 400px;
    height: 400px;
}