.container {
    width: 90%;
    margin: 0 auto;
}

.nameGrade {
    width: 100%;
    height: 11.3rem;
    border: 0.2rem solid #334eac;
    border-radius: 0.625rem;
    background-color: #e3f2fd;
    margin: auto;
    margin-top: 4.4rem;
    box-sizing: border-box;
    align-content: center;
    display: flex;
}

.name {
    display: inline-block;
    font-weight: bold;
    align-content: center;
    font-size: 2.5rem;
    margin-left: 1.25rem;
    width: 31.25rem;
}

.TODOText {
    color: #3065ac;
    margin-left: 1rem;
}

.grade {
    display: inline-block;
    font-size: 7.5rem;
    font-weight: bold;
    align-content: center;
    color: #80cee1;
    margin-left: 45%;
}

.calendarContainer {
    justify-content: space-between;
    border: 0.2rem solid #334eac;
    border-radius: 0.625rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 3.125rem;
    overflow: hidden;
}

.fullCalendar {
    width: 100%;
    box-sizing: border-box;
}

.todoContainer {
    width: 100%;
    height: 28rem;
    border: 3px solid #334eac;
    border-radius: 0.625rem;
    background-color: #e3f2fd;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.exerciseListText {
    border-right: 3px solid #334eac;
}

.addBoard {
    position: absolute;
    top: 0;
    right: 0.25rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30%;
    width: 1.875rem;
    height: 1.875rem;
    font-size: 0.875rem;
}

.addBoard button:disabled {
    opacity: 0.6;
    cursor: default;
}

.titleContainer {
    margin-top: 1rem;
}

.dateNum {
    text-align: left;
    padding-left: 0.3125rem;
    margin-top: 0.3125rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.registedBoard {
    margin-top: 0.5rem;
    text-align: center;
    background-color: #fff100;
    border-radius: 10px;
    border-bottom: 0.0625rem solid gray;
    font-size: 1rem;
    font-weight: bold;
    height: 1.5rem;
    cursor: pointer;
}
