

.nameGrade { 
    width: 100%; 
    height: 11.3rem; 
    border: 0.2rem solid #334EAC; 
    border-radius: 0.625rem;
    background-color: #E3F2FD; 
    margin: auto;
    margin-top: 4.4rem; 
    box-sizing: border-box;
    align-content: center; 
    display: flex; 
}

.name {
    display: inline-block; 
    font-weight: bold;
    align-content: center;
    font-size: 2.5rem;
    margin-left: 1.25rem;
    width: 31.25rem;
}
.TODOText {
    color: #3065AC;
    margin-left: 1rem;
}

.grade {
    display: inline-block; 
    font-size: 7.5rem; 
    font-weight: bold; 
    align-content: center; 
    color: #80CEE1; 
    margin-left: 50%;
}

.calendarContainer {
    justify-content: space-between;
    border: 0.2rem solid #334EAC;
    border-radius: 0.625rem;
    width: 100%; 
    box-sizing: border-box;
    margin-top: 3.125rem;
    overflow: hidden;
}

.fullCalendar {
    width: 100%;
    box-sizing: border-box;
}

.todoContainer {
  width: 100%;
  height:28rem; 
  border: 3px solid #334EAC;
  border-radius: 0.625rem;
  background-color: #E3F2FD;
  margin-top:2rem;
  margin-bottom: 2rem;
  display: flex;
}

.exerciseListText {
  border-right: 3px solid #334EAC;
}

.addBoard {
  position: absolute;
  top: 0px;
  right: 0.25rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30%;
  width: 1.875rem;
  height: 1.875rem;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
}

.dateNum {
  text-align: left;
  padding-left: 0.3125rem; 
  margin-top: 0.3125rem;
  font-weight: bold;
  font-size: 1.25rem;
}


.registedBoard {
  margin-top: 1rem;
  text-align: center;
  background-color: #FFF100;
  border-radius: 10px;
  border-bottom: 0.0625rem solid gray;
  font-size: 1rem;
  font-weight: bold;
  height: 1.5rem;
  cursor: pointer;
}

