
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 메인 폼 영역 */
.formBox {
    width: 50rem;
    height: 50rem;
    margin: 10rem auto;
    border: 1px solid #081F5C;
    border-radius: 1.3rem;
    box-shadow: 0px 16px 48px rgb(0, 0, 0, 0.1);
}

.input:focus, .select:focus {
    outline: 1px solid #081F5C;
}

/* 타이틀 */
.formTitle {
    font-size: 2rem;
    color: #081F5C;
    text-align: center;
    margin: 4rem;
}

/* form 영역 */
.inputForm {
    width: 45%;
    margin: auto;
    text-align : center;
}


/* label */
.label {
    color: #081F5C;
    display: block;
    margin : 0 0 1rem 0.3rem;
    text-align : left;
}

/* select */
.select {
    width: 22rem;
    height: 2.5rem;
    border: 1px solid #d0d0d0;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

/* input */
.input {
    width: 22rem;
    height: 2.5rem;
    border: 1px solid #d0d0d0;
    border-radius: 0.3rem;
    color: #a0a0a0;
    margin-bottom: 1rem;
}

/* next button */
.nextButton {
    width: 22rem;
    height: 3rem;
    margin-top: 3rem;
    border: 1px solid #334EAC;
    border-radius: 0.5rem;
    background-color: #D0E3FF;
    color: #334EAC;
    font-size: 1rem;
    font-weight: bold;
}
