.container {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.count {
    font-size: 1rem;
    line-height: 1.5;
}

.count.big {
    font-size: 1.625rem;
}

.icon {
    color: red;
    font-size: 1rem;
}

.icon.big {
    font-size: 1.625rem;
}