
.inputForm > * {
    margin: auto;
}

button {
    margin-top: 2rem;
}

.error {
    text-align : center;
    color: #CC0000;
    margin: 0.3rem 1rem;
    margin-bottom: 0.5rem;
    font-size: small;
    font-weight: 600;
}