
.input:focus {
    outline: none;
    border: solid 2px #334eac;
}

.input:read-only {
    background-color: #d9d9d9;
}

.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.common{
    display : block;
    border: solid 2px #d9d9d9;
    border-radius: 8px;
    padding: 0 1%;
    cursor: pointer;
    text-align :left;
    width: 25rem;
    height: 2.3rem;  
}

.medium {
    display : block;
    border: solid 2px #d9d9d9;
    border-radius: 8px;
    padding: 0 1%;
    cursor: pointer;
    text-align: left;
    width: 8rem;
    height: 2.3rem;
}

.short {
    display : block;
    border: solid 2px #d9d9d9;
    border-radius: 8px;
    padding: 0 1%;
    cursor: pointer;
    text-align: left;
    width: 5rem;
    height: 2.3rem;
}

.common[type=checkbox] {
    display : inline-flex;
    margin : 0;
    width: 1.1rem;
    height: 1.1rem;
    accent-color: #334eac;
}

.common[type=radio]{
    display : inline-flex;
    margin : 0;
    width : 1rem;
    height : 1rem;
    accent-color: #334eac;
}