.mainContainer {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.text {
    font-size: 5rem;
}

.warningIcon {
    font-size: 15.625rem;
    margin-top: 5rem;
    color: #334eac;
}

.homeBtn {
    width: 15.625rem;
    height: 3.125rem;
    background-color: #334eac;
    border: 0;
    border-radius: 0.625rem;
    color: white;
    font-size: 1.5rem;
}
